<nav class="main">
    <div class="titles">
        <div id="logo">
            <img [src]="logo" alt="">
        </div>
        <div class="text">
            <div>
                <h1 class="title">pedro geovanny</h1>
                <sup>artista digital</sup>
            </div>
        </div>
    </div>
    <div>
        <div class="menu-btn about" routerLink="about">about</div>
        <div class="menu-btn work"  routerLink="work" >work</div>
        <br>
        <div class="menu-btn art" routerLink="art">art</div>
        <div class="menu-btn projects" routerLink="projects">projects</div>
    </div>
    
</nav>